---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Link from "@components/ui/button.astro";
import Imagefull from "@components/ui/imagefull";

export async function getStaticPaths() {
    const projectEntries = await getCollection("project");
    return projectEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.name}>
    <Container>
        <div class="mt-3 px-5">
            <div
                class="prose prose-lg mx-auto mt-6 max-w-3xl text-base text-zinc-800 dark:prose-invert dark:text-zinc-300">
                <Content />
                <div id="images" class="flex flex-col gap-10">
                    {
                        entry.data.images.map((image) => (
                            <div class="flex flex-col gap-2">
                                <div class="border-2 border-zinc-600 dark:border-zinc-300">
                                    <Imagefull
                                        src={image.src}
                                        alt={image.alt}
                                        class="project-img block h-full w-full transform cursor-zoom-in"
                                        client:load
                                    />
                                </div>
                                <div class="text-center">{image.alt}</div>
                            </div>
                        ))
                    }
                </div>
                <div class="mt-8 text-center">
                    <Link style="muted" href="/#project" class="mt-4 inline-block rounded px-4 py-2">
                        ← Retour
                    </Link>
                </div>
            </div>
        </div>
    </Container>
</Layout>
