---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Link from "@components/ui/button.astro";
import Imagefull from "@components/ui/imagefull";

interface Image {
    default?: any;
    src: string;
    width: number;
    height: number;
    format: string;
}

interface ImageCollection {
    [key: string]: Image & { id: string };
}

export async function getStaticPaths() {
    const projectEntries = await getCollection("project");
    return projectEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const imageSlug = await Astro.glob<Image>("../../assets/slug/*/*.jpg").then((files) => {
    return files.map((file) => file.default);
});
const imageSlugCollection: ImageCollection = imageSlug.reduce((imageCollection, image) => {
    const parts = image.src.split("/");
    const fileNameWithExtension = parts[parts.length - 1];
    const fileNameWithoutExtension = fileNameWithExtension.split(".")[0];

    imageCollection[fileNameWithoutExtension] = {
        ...image,
        id: fileNameWithoutExtension,
    };

    return imageCollection;
}, {});
---

<Layout title={entry.data.name}>
    <Container>
        <div class="mt-3 px-5">
            <div
                class="prose prose-lg mx-auto mt-6 max-w-3xl text-base text-zinc-800 dark:prose-invert dark:text-zinc-300">
                <Content />
                {
                    entry.data.images.map((image) => (
                        <>
                            <>
                                <div class="border-2 border-zinc-600 dark:border-zinc-300">
                                    <Imagefull
                                        src={imageSlugCollection[image.src].src}
                                        alt={imageSlugCollection[image.src].id}
                                        class="project-img block h-full w-full transform cursor-zoom-in"
                                        client:load
                                    />
                                </div>
                                <div class="text-center">{image.alt}</div>
                            </>
                            <br />
                        </>
                    ))
                }
                <div class="mt-8 text-center">
                    <Link style="muted" href="/#project" class="mt-4 inline-block rounded px-4 py-2">
                        ← Retour
                    </Link>
                </div>
            </div>
        </div>
    </Container>
</Layout>
