---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="mb-12 mt-16 lg:mt-24">
    <div class="text-center text-sm text-zinc-500 dark:text-zinc-200">
        {t("Développé par")}
        <span class="font-bold">Benjamin Fabri</span><br />
        <a
            class="underline hover:text-sky-600 dark:hover:text-sky-200"
            href="https://github.com/befabri/bfabri.me"
            target="_blank"
            aria-label="Link to website source code">{t("Code source du site")}</a
        >
    </div>
</footer>
