---
import Button from "@components/ui/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@layouts/common/Container.astro";
---

<BaseLayout title="404 Non trouvée">
    <Container>
        <div class="flex min-h-[calc(100vh-16rem)] items-center justify-center">
            <div class="mt-16 text-center">
                <h1 class="text-4xl font-bold text-zinc-500 dark:text-zinc-200 lg:text-5xl lg:tracking-tight">
                    404
                </h1>
                <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-200">Page non trouvée.</p>
                <Button style="muted" href="/" class="mt-4 inline-block rounded px-4 py-2">
                    Retour sur la page principale
                </Button>
            </div>
        </div>
    </Container>
</BaseLayout>
