---
import CopyClipboard from "./ui/CopyClipboard";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id="cta" class="px-5 flex flex-col gap-8">
    <h2 class="text-3xl font-bold text-blue_dark dark:text-blue_light">{t("POUR ME CONTACTER")}</h2>
    <p>
        {t("Envoyez moi un email à")}
        <span class="font-semibold inline-flex gap-1">
            contact@bfabri.me
            <CopyClipboard text="contact@bfabri.me" client:load /></span
        >
    </p>
</div>
