---
import CopyClipboard from "../components/copyclipboard";
---

<div id="cta" class="mt-4 lg:mt-24 px-5 lg:mb-10">
    <h2 class="text-3xl text-sky-700 font-bold mb-2">POUR ME CONTACTER</h2>
    <p class="sm:m-0 lg:my-5 sm:py-2 py-5">
        Envoyez moi un email à
        <span class="font-semibold">
            contact@bfabri.me
            <CopyClipboard text="contact@bfabri.me" client:load />
        </span>
    </p>
</div>
