---
import CopyClipboard from "./ui/copyclipboard";
---

<div id="cta" class="mt-4 px-5 lg:mb-10 lg:mt-24">
    <h2 class="mb-2 text-3xl font-bold text-sky-700 dark:text-sky-500">POUR ME CONTACTER</h2>
    <p class="py-5 sm:m-0 sm:py-2 lg:my-5">
        Envoyez moi un email à
        <span class="font-semibold">
            contact@bfabri.me
            <CopyClipboard text="contact@bfabri.me" client:load /></span
        >
    </p>
</div>
