---

---

<div class="flex justify-center">
    <div class="mt-24 p-5">
        <h1 class="text-7xl md:text-8xl font-bold tracking-tight text-sky-700 dark:text-sky-500">
            Benjamin <br />Fabri
        </h1>
        <h2 class="mt-1 text-2xl tracking-tight text-zinc-800 dark:text-zinc-200">
            Développeur web full stack
        </h2>
    </div>
</div>
