---
import Icon from "astro-icon";
import ToggleTheme from "./ui/toggleTheme.astro";
const { showToggleTheme = true } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const isHomepage = currentPath === "";
---

<header
    class={`flex flex-row max-w-screen-xl mx-auto items-center 
    ${isHomepage ? "justify-end" : "justify-between"} md:px-5 px-5 my-5`}>
    {
        !isHomepage && (
            <a href="/" class="text-xl tracking-tight text-zinc-800 hover:underline dark:text-sky-500">
                Accueil
            </a>
        )
    }
    <div>
        <a
            href="mailto:contact@bfabri.me"
            target="_blank"
            aria-label="Link to send me an email"
            title="Me contacter par email"
            class="text-muted inline-flex items-center rounded-lg p-2.5 text-sm hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-white dark:text-zinc-400 dark:hover:bg-gray-700 dark:focus:ring-neutral-900">
            <Icon class="h-5 w-5" name="ic:round-mail" /></a
        >
        <a
            href="https://gitlab.com/befabri"
            target="_blank"
            aria-label="Link to gitlab account"
            title="Voir mon gitlab"
            class="text-muted inline-flex items-center rounded-lg p-2.5 text-sm hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-white dark:text-zinc-400 dark:hover:bg-gray-700 dark:focus:ring-neutral-900">
            <Icon class="h-5 w-5" name="ri:gitlab-fill" /></a
        >

        {showToggleTheme && <ToggleTheme iconClass="w-5 h-5" />}
    </div>
</header>
