---
import { Icon } from "astro-icon/components";
import ToggleTheme from "./ui/toggleTheme.tsx";
const { showToggleTheme = true } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const isHomepage = currentPath === "";
---

<header
    class={`flex flex-row max-w-screen-xl mx-auto items-center 
    ${isHomepage ? "justify-end" : "justify-between"} md:px-5 px-2 my-5`}>
    {
        !isHomepage && (
            <a
                href="/"
                class="tracking-tight text-sm text-zinc-800 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-lg p-2.5 focus:outline-none focus:ring-4 focus:ring-white dark:focus:ring-neutral-900 dark:text-zinc-400">
                <div class="flex items-center gap-2">
                    <Icon class="h-5 w-5" name="arrow-left" /> Retour
                </div>
            </a>
        )
    }
    <div>
        <a
            href="mailto:contact@bfabri.me"
            target="_blank"
            aria-label="Link to send me an email"
            title="Me contacter par email"
            class="text-muted inline-flex items-center rounded-lg p-2.5 text-sm hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-white dark:text-zinc-400 dark:hover:bg-gray-700 dark:focus:ring-neutral-900">
            <Icon class="h-5 w-5" name="round-mail" /></a
        >
        <a
            href="https://gitlab.com/befabri"
            target="_blank"
            aria-label="Link to gitlab account"
            title="Voir mon gitlab"
            class="text-muted inline-flex items-center rounded-lg p-2.5 text-sm hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-white dark:text-zinc-400 dark:hover:bg-gray-700 dark:focus:ring-neutral-900">
            <Icon class="h-5 w-5" name="gitlab-fill" /></a
        >

        {showToggleTheme && <ToggleTheme client:load />}
    </div>
</header>
