---
interface Props {
    href: string;
    size?: "md" | "lg";
    block?: boolean;
    style?: "primary" | "muted";
    class?: string;
    [x: string]: any;
}

const { href, block, size = "lg", style = "primary", class: className, ...rest } = Astro.props;

const sizes = {
    lg: "px-5 py-2.5",
    md: "px-4 py-2",
};

const styles = {
    primary:
        "bg-blue_dark hover:bg-blue_dark/80 border-2 border-transparent text-white dark:text-white dark:bg-blue_light/60 dark:hover:bg-blue_light/70",
    muted: "bg-blue_light hover:bg-sky-400 border-2 border-transparent text-white dark:text-white dark:bg-blue_dark dark:hover:bg-sky-600",
};
---

<a
    href={href}
    {...rest}
    class:list={[
        "rounded-lg text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 tracking-tight text-sm",
        block && "md:w-full",
        sizes[size],
        styles[style],
        className,
    ]}
    ><slot />
</a>
