---
import { Icon } from "astro-icon";
import { SITE } from "@utils/config.mjs";

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
}

const {
  label = "Changer entre un thème sombre ou lumineux",
  class:
    className = "text-muted dark:text-zinc-400 hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-white dark:focus:ring-neutral-900 rounded-lg text-sm p-2.5 inline-flex items-center",
  iconClass = "w-6 h-6",
  iconName = "tabler:sun",
} = Astro.props;
---

{
  SITE?.defaultTheme && (
    <button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
      <Icon name={iconName} class={iconClass} />
    </button>
  )
}
